<div class = "main_box">
  <div class = "current_chat">
    <div class = "header_title">
    <%= @room.name %>
    </div>
  </div>
  <div class ="end_chat">
    <div class = "header_button">
    <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
    </div>
  </div>
</div>

<div class = "chat_main">
  <%= render partial: "message", collection: @messages%>
</div>

<%= form_with model: [@room, @message], class: "form", local: true do |f|%>
  <div class = "form_bar">
    <%= f.text_field :content, placeholder: "type a message", class: "type_message"%>
    <label class= "form_image">
      <span class = "image_file">画像</span>
      <%= f.file_field :image, class: "hidden"%>
    </label>
  </div>
  <%= f.submit '送信', class: "send"%>
<% end %>
